@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');

}

*{
  font-family: "Poppins", sans-serif;
}

#título{
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

#button-ramais{
  display: grid;
  color: #02007e;
  font-weight: 500;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1%;
  top: 10%;
  transition: transform 0.2s ease;
}

#button-ramais:active{
  transform: scale(0.9);
}

#img-ramais{
  width: 55px;
  height: 55px;
  margin: 0%;
}

h2{
  margin-top: 10px;
  color: #000ed3;
  position: relative;
}

#title-ramais{
  margin: 10px;
}

img{
  width: 150px;
  height: auto;
  padding: 0;
  margin-top: 30px;
}

body {
    background: radial-gradient(circle at center, #ffffff44, #cccccc);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  #container {
    background-color: white;
    border: 1px solid #000cb457;
    border-top: .9rem solid #000ed3;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.151);
    padding: 0px 40px 40px 40px;
    width: 1200px;
    height: 580px;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .form {
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

  }

  .box-input-pesquisar{
    flex: 1;
    margin-bottom: 25px;
  }

  .box-input-pesquisar input{
    background: rgb(248, 248, 248);
    border-left: 3px solid #0011ff;
    text-align: center;
    width: 500px;
    margin: auto;
  }

  .box-input-pesquisar input:focus{
    outline: none;
    border-left: 3px solid #0011ff;
  }

  .box-inputs-disableds input{
    flex: 1;
    justify-content: center;
  }

  .box-inputs-disableds {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    gap: 15px;
  }

  input {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

  input:disabled {
    background-color: #e0e0e0;
    color: #555;
    pointer-events: none;;
  }

  .box-input-pesquisar {
    flex: 1;
    display: grid;
    align-items: center;
    position: relative; /* NECESSÁRIO para posicionar a lista corretamente */
  }
  
 #sugestoes {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%; /* acompanha o tamanho do input */
  max-width: 500px; /* limita em telas maiores */
  margin: 0 auto; /* centraliza abaixo do input */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

  
  .sugestao {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .sugestao:hover {
    background-color: #3a41c4;
    color: white;
  }

  span{
    text-align: left;
    margin-right: 0px;
    height: 25px;
  }
  
  .box-inputs-disableds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grupo-input, .grupo-input-administradora {
  display: flex;
  flex-direction: column;
}

.grupo-input-administradora {
  grid-column: 1 / 3;
  
}

.grupo-input-administradora input {
  text-align: center;
}

.grupo-input-administradora span {
  text-align: center;
  padding-bottom: 10px;
}

.grupo-input input {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  color: #555;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  pointer-events: none;
}

/* Estilos para a lista de ramais */

#container-ramais {
  background-color: white;
  border: 1px solid #000cb457;
  border-top: .9rem solid #000ed3;
  border-radius: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.151);
  width: 420px;
  height: 100%;
  position: absolute;
  right: -33.5%;
  top: -2.1%;
  opacity: 0; /* inicialmente escondido */
  transform: translateX(0px); /* começa fora da tela */
  z-index: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

#container-ramais.visivel{
  display: block;
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1024px) {
  #container-ramais {
    width: 100%;
    height: auto;
    right: 0;
    top: 100%;
    margin-top: 20px;
    transform: translateX(0); /* evita efeito visual fora de tela */
    border-radius: 0 0 1rem 1rem;
  }
}

  /* 2° DIV para os ramais para o conteudo */

#container-ramais-content{
  height: 100%;
}

.area-lista-ramais-curitiba {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 243, 0.432);
  border-radius: 4px;
  max-height: 22%;
  font-size: .9em;
  list-style: none;
  display: grid;
  justify-content: left;
  padding: 1% 0% 0% 1%;
  margin: 5px 5px 0 5px;
  overflow-y: scroll;
}

.area-lista-ramais-campinas {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 243, 0.432);
  border-radius: 4px;
  max-height: 149px;
  font-size: .9em;
  list-style: none;
  display: grid;
  justify-content: left;
  padding: 1% 0% 0% 1%;
  margin: 5px 5px 0 5px;
}

.area-lista-ramais-sao-paulo {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 243, 0.432);
  border-radius: 4px;
  max-height: 149px;
  font-size: .9em;
  list-style: none;
  display: grid;
  justify-content: left;
  padding: 1% 0% 0% 1%;
  margin: 5px 5px 0 5px;

}

.area-lista-ramais-curitiba::-webkit-scrollbar, .area-lista-ramais-campinas::-webkit-scrollbar, .area-lista-ramais-sao-paulo::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.area-lista-ramais-curitiba::-webkit-scrollbar-thumb, .area-lista-ramais-campinas::-webkit-scrollbar-thumb, .area-lista-ramais-sao-paulo::-webkit-scrollbar-thumb {
  background-color: #060d75; /* Cor da barra de rolagem */
  border-radius: 3px 3px 3px 3px;
}

li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Nome | Ramal | Setor */
  align-items: center;
  gap: 1em;
  padding: 5px;
  border-bottom: 1px solid #9fc6eb;
}

a{
  color: #21507c;
  text-decoration: none;
}



.Nome, .Setor {
  font-weight: 500;
  color: #21507c;
}

.Ramal {
  text-align: center;
  font-weight: 700;
  color: #21507c;
  margin: 0 3em;
}


#curitiba{
  background-color: #21507c60;
  border-radius: 4px;
  text-align: center;
  color: #21507c;
  width: 97.5%;
  margin: 0 0px 0 5px;
  font-size: 1.3em;
}

#Campinas{
  background-color: #21507c60;
  border-radius: 4px;
  color: #21507c;
  width: 97.5%;
  margin: 5px 0 0 5px;
  font-size: 1.3em;
}

#São-Paulo{
  background-color: #21507c60;
  border-radius: 4px;
  color: #21507c;
  width: 97.5%;
  margin: 5px 0 0 5px;
  font-size: 1.3em;
  align-items: center;
}

@media (max-width: 768px) {
  #container {
    width: 95%;
    height: auto;
    padding: 20px;
  }

  #container-ramais {
    position: relative;
    z-index: 0;
    top: auto;
    right: auto;
    margin-top: 20px;
    border-top: 5px solid #000ed3;
    box-shadow: none;
    transform: translateX(0);
  }
}
